<div class="modal-header">
  <div class="modal-title">
    {{ title }}-终端
  </div>
</div>
<form #f="ngForm" nz-form (ngSubmit)="save()">
  <div>
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">
      保存
    </button>
  </div>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">工厂*</nz-form-label>
    <nz-form-control nzSpan="5">
      <nz-select [(ngModel)]="record.plant_code" [nzSize]="size" name="plant" required [nzAllowClear]="false"
        (ngModelChange)="plantChange($event)" [nzDisabled]="!record.add">
        <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
      </nz-select>
    </nz-form-control>


    <nz-form-label nzSpan="2">计算机名</nz-form-label>
    <nz-form-control nzSpan="5" nzErrorTip="请输入计算机名称">
      <input nz-input placeholder="请输入" [(ngModel)]="record.terminal_id" name="online_time" [nzSize]="size" required />
    </nz-form-control>

  </nz-form-item>
</form>
