<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">

      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">用户名</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.user_name" name="user_name" id="user_name" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">姓名</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.employee_name" name="employee_name" id="employee_name" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>


      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">用户状态</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.status" [nzSize]="size" name="status" id="status" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'user_state')" nzAllowClear>
              <nz-option *ngFor="let i of sub_user_state.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">办公室电话</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.office_phone" name="office_phone" id="office_phone" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">移动电话</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.mobile_phone" name="mobile_phone" id="mobile_phone" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">电子邮件</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.email" name="email" id="email" [nzSize]="size" placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">班次</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.shift" [nzSize]="size" name="shift" id="shift" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'shift')" nzAllowClear>
              <nz-option *ngFor="let i of sub_shift.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>




    </div>

    <div class="search-buttons">
      <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages" [scroll]="{ x: '1500px'}">
    </st>
  </ng-container>
</nz-card>
