<nz-card nzTitle="详细信息">
  <form #f="ngForm" nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">

    <div class="search-buttons">
      <button nz-button *ngFor="let i of dataAction;" type="click" id="btn{{i.action_name}}"
        (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages">
      <ng-template st-row="rd_PackQty" let-item let-index="index">
        <nz-input-number [(ngModel)]="item.unlock_pack_count" (ngModelChange)="PackQtyChange($event,item)"
          name="PackQty" [nzMin]="1" [nzStep]="1" [nzSize]="size" required></nz-input-number>
      </ng-template>
      <ng-template st-row="rd_FragQty" let-item let-index="index">
        <nz-input-number [(ngModel)]="item.unlock_frag_count" (ngModelChange)="FragPartsChange($event,item)" required
          name="FragQty" [nzMin]="0" [nzMax]="item.PackStdQty" [nzStep]="1" [nzSize]="size"></nz-input-number>
      </ng-template>
      <ng-template st-row="rd_PartQty" let-item let-index="index">
        <input nz-input [nzSize]="size" disabled="true" [(ngModel)]="item.unlock_part_count" name="PartQty" />
      </ng-template>
      <ng-template st-row="rd_Why" let-item let-index="index">
        <input nz-input [nzSize]="size" [(ngModel)]="item.why" name="why" />
      </ng-template>
    </st>
  </ng-container>

</nz-card>
