<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>

  </ng-template>
</page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">工厂编号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.plant_code" name="no" nzSize="small" placeholder="工厂编号" id="no" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="na">工厂名称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.plant_name" name="na" nzSize="small" placeholder="工厂名称" id="na" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col>
        <button *ngFor="let i of dataAction;" nz-button nzSize="small" value="{{ i.action_name }}" type="click" [nzLoading]="loading"
          (click)="toolBarOnClick(i)">
          {{ i.action_name_cn }}
        </button>
      </div>
    </div>
  </form>
  <st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)" [page]="pages">
  </st>
</nz-card>


<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="plant">工厂编号</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="plant.plant_code" name="plant.code" placeholder="请输入工厂编号" id="plant" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="name">工厂名称</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="plant.plant_name" name="plant.name" placeholder="请输入工厂名称" id="name" />
    </nz-form-control>
  </nz-form-item>
</ng-template>
