<div class="modal-header">
  <div class="modal-title">{{ title }}-差异核销</div>
</div>
<form #f="ngForm" nz-form>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">工厂*</nz-form-label>
    <nz-form-control nzSpan="5" nzErrorTip="请选择工厂">
      <nz-select [(ngModel)]="record.PlantId" [nzSize]="size" name="plant" required [nzAllowClear]="false"
        (ngModelChange)="plantChange($event)" [nzDisabled]="!record.add" required>
        <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzSpan="2">仓库</nz-form-label>
    <nz-form-control nzErrorTip="请选择仓库" nzSpan="5">
      <nz-select [(ngModel)]="record.SourceWorkshop" [nzSize]="size" name="wh_s" id="wh_s" nzShowSearch="true"
        nzAllowClear="false" [nzDisabled]="!record.add" (ngModelChange)="workshopChange($event)">
        <nz-option *ngFor="let option of sub_workshops" [nzLabel]="option.text" [nzValue]="option.value"> </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">备注</nz-form-label>
    <nz-form-control nzSpan="12">
      <textarea rows="2" nzSize="size" nz-input [(ngModel)]="record.Remark" [disabled]="!record.add"
        name="Remark"></textarea>
    </nz-form-control>
  </nz-form-item>

  <hr />
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">零件号</nz-form-label>
    <nz-form-control nzSpan="2">
      <input nz-input [nzSize]="size" [(ngModel)]="q_s.part_no" name="part_no" maxlength="8" />
    </nz-form-control>
    <nz-form-label nzSpan="2">供应商</nz-form-label>
    <nz-form-control nzSpan="2">
      <input nz-input [nzSize]="size" [(ngModel)]="q_s.SupplierId" name="SupplierId" />
    </nz-form-control>

    <button nz-button type="button" (click)="search_s($event)"> 查询 </button>
    <button nz-button type="button" [disabled]="selectedRows_s.length === 0" (click)="add($event)">添加选择的零件</button>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <st #st [columns]="columns_s" [size]="size" [data]="data_s_filter" [loading]="loading" (change)="stChange_s($event)"
      [page]="pages">
    </st>
  </nz-form-item>

  <hr />
  <nz-form-item class="mb-sm">
    <nz-form-control [nzSpan]="6">
      <input type="file" id="import" name="import" multiple="false" />
    </nz-form-control>
    <nz-form-control [nzSpan]="16">
      <button *ngFor="let i of dataAction;" [disabled]="i.action_name==='Save' && data_t.length===0" nz-button
        type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
      <button nz-button type="button" [disabled]="numberOfChecked === 0" (click)="remove($event)">移除选择的零件</button>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-table #editRowTable nzBordered [nzData]="data_t" (nzCurrentPageDataChange)="currentPageDataChange($event)">
      <thead>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"></th>

          <th>零件名称</th>
          <th>零件号</th>
          <th>供应商</th>
          <th>标准包装数</th>
          <th>箱数</th>
          <th>散件数</th>
          <th>总件数</th>
          <th>备注</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data" class="editable-row">
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.idx]" (nzCheckedChange)="refreshStatus()"></td>

          <td>{{ data.part_cname }}</td>
          <td>{{ data.part_no }}</td>
          <td>{{ data.SupplierId }}</td>
          <td>{{ data.packing_qty }}</td>
          <td>
            <div class="editable-cell" *ngIf="editId !== data.idx; else editTpl">
              <div class="editable-cell-value-wrap" (click)="startEdit(data.idx, $event)">
                {{ data.RequiredPackQty }}
              </div>
            </div>
            <ng-template #editTpl>
              <nz-input-number [(ngModel)]="data.RequiredPackQty" (ngModelChange)="PackQtyChange($event,data)"
                name="Pack" [nzStep]="1" [nzSize]="size"></nz-input-number>
            </ng-template>
          </td>
          <td>{{ data.RequiredFragpartQty }}</td>
          <td>
            <div class="editable-cell" *ngIf="editId !== data.idx; else editTpl1">
              <div class="editable-cell-value-wrap" (click)="startEdit(data.idx, $event)">
                {{ data.RequiredPartQty }}
              </div>
            </div>
            <ng-template #editTpl1>
              <nz-input-number [(ngModel)]="data.RequiredPartQty" (ngModelChange)="PartQtyChange($event,data)"
                name="Fragpart" [nzStep]="1" [nzSize]="size"></nz-input-number>
            </ng-template>
          </td>

          <td>
            <div class="editable-cell" *ngIf="editId !== data.idx; else editTpl2">
              <div class="editable-cell-value-wrap" (click)="startEdit(data.idx, $event)">
                {{ data.Remark }}
              </div>
            </div>
            <ng-template #editTpl2>
              <input nz-input [(ngModel)]="data.Remark" name="Remark" nzSize="size" style="width:80px">
            </ng-template>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </nz-form-item>
</form>
