<div class="modal-header">
  <div class="modal-title">
    {{ title }}-系统代码维护
  </div>
</div>
<form #f="ngForm" nz-form (ngSubmit)="save()">
  <div>
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">
      保存
    </button>
  </div>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">代码名称</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" required [disabled]="!record.add" [(ngModel)]="record.code_name"
        name="code_name" />
    </nz-form-control>
    <nz-form-label nzSpan="2">代码中文描述</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.code_cdescription" name="code_cdescription" />
    </nz-form-control>
    <nz-form-label nzSpan="2">代码英文描述</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.code_edescription" name="code_edescription" />
    </nz-form-control>
  </nz-form-item>

</form>
