<nz-card [nzHoverable]="true" [nzBordered]="false" nzTitle="详细信息">
  <div nz-row [nzGutter]="24" *ngIf="expandForm">

    <sv-container size="size">
      <sv label="单号">{{ record.SelfSheetNo }}</sv>
      <sv label="移动类型">{{ record.TransactionCode }}</sv>
      <sv label="操作原因">{{ record.Reason }}</sv>
      <sv label="工厂">{{ record.PlantId }}</sv>
      <sv label="源仓库">{{ record.SourceWH }}</sv>
      <sv label="目的仓库">{{ record.TargetWH }}</sv>

      <sv label="配送路线">{{ record.RouteId }}</sv>
      <sv label="DOCK">{{ record.Dock }}</sv>
      <sv label="备注">{{ record.Remark }}</sv>

    </sv-container>
  </div>

  <st [data]="dataDetail" size="size" [columns]="columnsDetail"></st>
</nz-card>
