<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="size" title="基础信息">
    <sv label="物料单编号">{{ record.runsheet_code }}</sv>
    <sv label="物料单类型">{{ record.runsheet_type_name }}</sv>
    <sv label="工厂">{{ record.plant }}</sv>
    <sv label="车间">{{ record.workshop }}</sv>
    <sv label="物料单发布时间">{{ record.publish_time }}</sv>
    <sv label="预期到货时间">{{ record.expected_arrival_time }}</sv>
    <sv label="供应商代码">{{ record.supplier_code }}</sv>
    <sv label="Dock编号">{{ record.dock_code }}</sv>
    <sv label="拉动总箱数">{{ record.route_code }}</sv>

  </sv-container>
  <div class="text-xs my-md" style="color:black">物料单明细记录</div>
  <st [data]="dataDetail" size="size" [widthMode]="widthMode" [columns]="columnsDetail"></st>
</nz-card>
