<page-header></page-header>
<nz-card nzBordered="false" nzSize="size">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">零件号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.part_no" name="part_no" id="part_no" [nzSize]="size" placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">零件名称</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.part_name" name="part_name" id="part_name" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">增补标识</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.Identifier" [nzSize]="size" name="Identifier" id="Identifier"
              [nzPlaceHolder]="'请选择'" [nzShowSearch]="true"
              (nzOpenChange)="getCodeDetails($event,'wm_month_plan_identifier')" nzAllowClear>
              <nz-option *ngFor="let i of sub_wm_month_plan_identifier.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>



      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" ngFor="supplier_code">供应商</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择供应商">
            <nz-select [(ngModel)]="q.supplier_id" [nzSize]="size" name="supplier_id" id="supplier_id"
              [nzPlaceHolder]="'请选择'" (nzOpenChange)="GetSupplierOfPartNo($event,'supplier_code')" nzMode="multiple"
              nzShowSearch="true" nzAllowClear [nzLoading]="loading">
              <nz-option *ngFor="let option of sub_supplier_code.data" [nzLabel]="option.itemText"
                [nzValue]="option.itemValue">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">供应商名称</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入供应商名称">
            <input nz-input [(ngModel)]="q.supplier_name" name="supplier_name" id="supplier_name" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">计划员编号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.PlannerCode" name="PlannerCode" id="PlannerCode" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">交货月份</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-month-picker [(ngModel)]="q.YearMonth" id="YearMonth" name="YearMonth" nzPlaceHolder="请选择">
            </nz-month-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">导入文件</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="file" id="import" name="import" multiple="false" class="ml-sm" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div class="search-buttons">
      <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages" [scroll]="{x: '2000px'}">
    </st>
  </ng-container>
</nz-card>
