<nz-card [nzBordered]="false" [nzTitle]="'零件管理'" nzSize="size">
  <form nz-form [nzLayout]="'inline'" class="search__form">
    <div nz-row>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label>零件号</nz-form-label>
          <nz-form-control nzErrorTip="请输入零件号">
            <input nz-input maxlength="8" [(ngModel)]="q.part_no" name="part_no" id="part_no" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label>零件名称</nz-form-label>
          <nz-form-control nzErrorTip="请输入零件名称">
            <input nz-input [(ngModel)]="q.part_cname" name="part_cname" id="part_cname" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="part_flag">删除标识</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.part_flag" [nzSize]="size" name="part_flag" id="part_flag" [nzPlaceHolder]="'请选择'"
              nzAllowClear>
              <nz-option nzValue="X" nzLabel="X"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="part_type">拉动类型</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.part_type" [nzSize]="size" name="part_type" id="part_type" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'part_type')" nzAllowClear>
              <nz-option *ngFor="let i of sub_part_type.data;" [nzLabel]="i.Value_cdescription"
                [nzValue]="i.Code_value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="plant">工厂</nz-form-label>
          <nz-form-control nzErrorTip="请选择工厂">
            <nz-select [(ngModel)]="q.plant" [nzSize]="size" name="plant" id="plant"
              (ngModelChange)="plantChange($event)">
              <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label ngFor="workshop">车间</nz-form-label>
          <nz-form-control nzErrorTip="请选择车间">
            <nz-select [(ngModel)]="q.workshop" [nzSize]="size" name="workshop" id="workshop" [nzPlaceHolder]="'请选择'"
              nzMode="multiple" nzShowSearch="true" nzAllowClear>
              <nz-option *ngFor="let option of sub_workshops" [nzLabel]="option.text" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="is_direct">直供标识</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.is_direct" [nzSize]="size" name="is_direct" id="is_direct" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'ver_record')" nzAllowClear>
              <nz-option *ngFor="let i of sub_ver_record.data;" [nzLabel]="i.Value_cdescription"
                [nzValue]="i.Code_value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="part_state">零件活动状态</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.part_state" [nzSize]="size" name="part_state" id="part_state"
              [nzPlaceHolder]="'请选择'" [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'part_state')"
              nzAllowClear>
              <nz-option *ngFor="let i of sub_part_state.data;" [nzLabel]="i.Value_cdescription"
                [nzValue]="i.Code_value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="import">导入文件</nz-form-label>
          <nz-form-control>
            <input type="file" id="import" name="import" multiple="false" class="ml-sm" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">

      <div nz-col [nzSpan]="24" [class.text-right]="false">
        <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
          {{ i.action_name_cn }}
        </button>
      </div>

    </div>

  </form>

  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages" virtualScroll="true" virtualItemSize="q.ps" [scroll]="scroll">
    </st>
  </ng-container>
</nz-card>
