<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">供应商代码</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择窗口时间模式">
            <nz-select [(ngModel)]="q.supplier" [nzSize]="size" name="supplier" id="supplier" [nzPlaceHolder]="'请选择'"
              nzMode="multiple" (nzOpenChange)="getListItems($event,'supplier_code')" nzShowSearch="true" nzAllowClear
              [nzLoading]="loading">
              <nz-option *ngFor="let option of sub_supplier_code.data" [nzLabel]="option.itemText"
                [nzValue]="option.itemValue">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">导入文件</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="file" id="import" name="import" multiple="false" class="ml-sm" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div class="search-buttons">
      <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages">
    </st>
  </ng-container>
</nz-card>
