<div class="modal-header">
  <div class="modal-title">
    {{ title }}-窗口模式子项
  </div>
</div>
<form #f="ngForm" nz-form (ngSubmit)="save()">
  <div>
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">
      保存
    </button>
  </div>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">工厂*</nz-form-label>
    <nz-form-control nzSpan="5">
      <nz-select [(ngModel)]="record.plant" [nzSize]="size" name="plant" required [nzAllowClear]="false"
        (ngModelChange)="plantChange($event)" [nzDisabled]="true">
        <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzSpan="2">车间*</nz-form-label>
    <nz-form-control nzErrorTip="请选择车间" nzSpan="5">
      <nz-select [(ngModel)]="record.workshop" [nzSize]="size" name="workshop" id="workshop" nzShowSearch="true"
        nzAllowClear="false" required [nzDisabled]="true">
        <nz-option *ngFor="let option of sub_workshops" [nzLabel]="option.text" [nzValue]="option.value"> </nz-option>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzSpan]="2">供应商*</nz-form-label>
    <nz-form-control [nzSpan]="5" nzErrorTip="请选择供应商*">
      <nz-select [(ngModel)]="record.supplier" [nzSize]="size" name="supplier" id="supplier" [nzPlaceHolder]="'请选择'"
        nzShowSearch="true" [nzLoading]="loading" [nzDisabled]="!record.add"
        (nzOpenChange)="getListItems($event,'supplier')" required>
        <nz-option *ngFor="let option of sub_supplier.data" [nzLabel]="option.itemText" [nzValue]="option.itemValue">
        </nz-option>
      </nz-select>
    </nz-form-control>


  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">拉动类型*</nz-form-label>
    <nz-form-control nzSpan="5">
      <nz-select [(ngModel)]="record.part_type" [nzDisabled]="!record.add" [nzSize]="size" name="part_type"
        id="part_type" [nzShowSearch]="true" required>
        <nz-option *ngFor="let i of sub_part_type.data;" [nzLabel]="i.text" [nzValue]="i.val">
        </nz-option>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzSpan]="2">线路配置代码*</nz-form-label>
    <nz-form-control [nzSpan]="5" nzErrorTip="请选择线路配置代码*">
      <nz-select [(ngModel)]="record.route" [nzSize]="size" name="route" id="route" [nzPlaceHolder]="'请选择'"
        nzShowSearch="true" [nzLoading]="loading" [nzDisabled]="!record.add"
        (nzOpenChange)="getListItems($event,'route')" required>
        <nz-option *ngFor="let option of sub_route.data" [nzLabel]="option.ItemText" [nzValue]="option.ItemValue">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzSpan="2">窗口时间*</nz-form-label>
    <nz-form-control nzSpan="5" nzErrorTip="窗口时间输入错误, 正确格式为hh:mm5位字符">
      <input nz-input [(ngModel)]="record.window_time" pattern="([0-1]?[0-9]|2[0-3]):([0-5][0-9])" name="window_time"
        [nzSize]="size" required />
    </nz-form-control>
  </nz-form-item>
</form>
