<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="plant">工厂</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择工厂">
            <nz-select [(ngModel)]="q.plant" [nzSize]="size" name="plant" id="plant"
              (ngModelChange)="plantChange($event)">
              <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" ngFor="workshop">车间</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择车间">
            <nz-select [(ngModel)]="q.workshop" [nzSize]="size" name="workshop" id="workshop" [nzPlaceHolder]="'请选择'"
              nzMode="multiple" nzShowSearch="true" nzAllowClear>
              <nz-option *ngFor="let option of sub_workshops" [nzLabel]="option.text" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">零件号</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入零件号">
            <input nz-input maxlength="8" [(ngModel)]="q.part_no" name="part_no" id="part_no" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">VSN</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入VSN">
            <input nz-input [(ngModel)]="q.VSN" name="VSN" id="VSN" [nzSize]="size" placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">批次号</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入VSNBatchNo">
            <input nz-input [(ngModel)]="q.VSNBatchNo" name="VSNBatchNo" id="VSNBatchNo" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">零件名称</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入零件名称">
            <input nz-input [(ngModel)]="q.part_cname" name="part_cname" id="part_cname" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">配载线</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入卡号">
            <input nz-input [(ngModel)]="q.SPSAssambleLine" name="SPSAssambleLine" id="SPSAssambleLine" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">工位</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入工位地址">
            <input nz-input [(ngModel)]="q.uloc" name="uloc" id="uloc" [nzSize]="size" placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>


      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">拉动类型</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.PullType" [nzSize]="size" name="PullType" id="PullType" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'vsnbom_pulltype')" nzAllowClear>
              <nz-option *ngFor="let i of sub_vsnbom_pulltype.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">是否生效</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.CurrentStatus" [nzSize]="size" name="CurrentStatus" id="CurrentStatus"
              [nzPlaceHolder]="'请选择'" [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'IfTrueFalse')"
              nzAllowClear>
              <nz-option *ngFor="let i of sub_IfTrueFalse.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div class="search-buttons">
      <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages" [scroll]="{x: '2000px'}">
    </st>
  </ng-container>
</nz-card>
