<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="plant">工厂</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择工厂">
            <nz-select [(ngModel)]="q.plant" [nzSize]="size" name="plant" id="plant"
              (ngModelChange)="plantChange($event)">
              <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" ngFor="workshop">车间</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择车间">
            <nz-select [(ngModel)]="q.workshop" [nzSize]="size" name="workshop" id="workshop" [nzPlaceHolder]="'请选择'"
              nzMode="multiple" nzShowSearch="true" nzAllowClear>
              <nz-option *ngFor="let option of sub_workshops" [nzLabel]="option.text" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">窗口时间模式</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择窗口时间模式">
            <nz-select [(ngModel)]="q.mode_id" [nzSize]="size" name="mode_id" id="mode_id" [nzPlaceHolder]="'请选择'"
              (nzOpenChange)="getListItems($event,'mode_id')" nzShowSearch="true" nzAllowClear [nzLoading]="loading">
              <nz-option *ngFor="let option of sub_mode_id.data" [nzLabel]="option.itemText"
                [nzValue]="option.itemValue">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="48">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">工作日时间</nz-form-label>
          <nz-form-control [nzSpan]="40">
            <nz-range-picker [(ngModel)]="q.workday" name="workday" id="workday" [nzSize]="size" nzAllowClear="true"
              [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm">
            </nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>


    </div>

    <div class="search-buttons">
      <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages">
    </st>
  </ng-container>
</nz-card>
