<div class="modal-header">
  <div class="modal-title">
    {{ title }}-应用配置维护
  </div>
</div>
<form #f="ngForm" nz-form (ngSubmit)="save()">
  <div>
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">
      保存
    </button>
  </div>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">应用名称</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [disabled]="!record.add" [(ngModel)]="record.application_name"
        name="application_name" />
    </nz-form-control>
    <nz-form-label nzSpan="2">工厂</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [disabled]="!record.add" [(ngModel)]="record.plant" name="plant" />
    </nz-form-control>
    <nz-form-label nzSpan="2">车间</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [disabled]="!record.add" [(ngModel)]="record.workshop" name="workshop" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">参数1</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter1" name="param1" />
    </nz-form-control>
    <nz-form-label nzSpan="2">参数2</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter2" name="param2" />
    </nz-form-control>
    <nz-form-label nzSpan="2">参数3</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter3" name="param3" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">参数4</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter4" name="param4" />
    </nz-form-control>
    <nz-form-label nzSpan="2">参数5</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter5" name="param5" />
    </nz-form-control>
    <nz-form-label nzSpan="2">参数6</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter6" name="param6" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">参数7</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter7" name="param7" />
    </nz-form-control>
    <nz-form-label nzSpan="2">参数8</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter8" name="param8" />
    </nz-form-control>
    <nz-form-label nzSpan="2">参数9</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter9" name="param9" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">参数10</nz-form-label>
    <nz-form-control nzSpan="5">
      <input nz-input [nzSize]="size" [(ngModel)]="record.application_parameter10" name="param10" />
    </nz-form-control>
    <nz-form-label nzSpan="2">描述</nz-form-label>
    <nz-form-control nzSpan="12">
      <textarea rows="4" nz-input [(ngModel)]="record.application_description" name='app_desc'></textarea>
    </nz-form-control>
  </nz-form-item>

</form>
