<nz-card [nzHoverable]="true" [nzBordered]="false" nzTitle="详细信息">
  <div nz-row [nzGutter]="24" *ngIf="expandForm">

    <sv-container size="size">
      <sv label="封存条">{{ record.SealingStripCode }}</sv>
      <sv label="工厂">{{ record.PlantID }}</sv>
      <sv label="车间">{{ record.Warehouse }}</sv>
      <sv label="失效症状">{{ record.FailureSymptom }}</sv>
      <sv label="问题分类">{{ record.IssuesClass_name }}</sv>
      <sv label="故障部位及备注">{{ record.Remark }}</sv>

    </sv-container>
  </div>

  <st [data]="dataDetail" size="size" [widthMode]="widthMode" [columns]="columnsDetail"></st>
</nz-card>
