<div class="modal-header">
  <div class="modal-title">编辑Dock信息</div>
</div>
<nz-spin *ngIf="loading" class="modal-spin"></nz-spin>
<form nz-form #f="ngForm" (ngSubmit)="save()" *ngIf="!loading">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="plant">工厂</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select [(ngModel)]="record.plant" name="plant" id="plant" (ngModelChange)="plantChange($event)">
        <nz-option *ngFor="let p of plants" [nzLabel]="p.text" [nzValue]="p.value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workshop" nzRequired>车间</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择车间">
      <nz-select [(ngModel)]="record.workshop" name="workshop" id="workshop" required>
        <option value="">请选择</option>
        <nz-option *ngFor="let p of workshops" [nzLabel]="p.text" [nzValue]="p.value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="d" nzRequired>Dock</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入dock">
      <input nz-input [(ngModel)]="record.dock" id="d" name='d' required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dn" nzRequired>Dock</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入dock名称">
      <input nz-input [(ngModel)]="record.dock_name" id="dn" name='dn' required />
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading"
      nzType="primary">保存</button>
  </div>
</form>
