<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="plant">工厂</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择工厂">
            <nz-select [(ngModel)]="q.plant" [nzSize]="size" name="plant" id="plant"
              (ngModelChange)="plantChange($event)">
              <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">供应商代码</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择窗口时间模式">
            <nz-select [(ngModel)]="q.supplier" [nzSize]="size" name="supplier" id="supplier" [nzPlaceHolder]="'请选择'"
              nzMode="multiple" nzShowSearch="true" nzAllowClear [nzLoading]="loading">
              <nz-option *ngFor="let option of sub_supplier_print.data" [nzLabel]="option.itemText"
                [nzValue]="option.itemValue">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="part_type">拉动类型</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.part_type" [nzSize]="size" name="part_type" id="part_type" [nzPlaceHolder]="'请选择'"
              [nzShowSearch]="true" (nzOpenChange)="getCodeDetails($event,'part_type')" nzAllowClear>
              <nz-option *ngFor="let i of sub_part_type.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">打印机名称</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入打印机名称">
            <input nz-input [(ngModel)]="q.printer_name" name="printer_name" id="printer_name" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>


    </div>

    <div class="search-buttons">
      <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages">
    </st>
  </ng-container>
</nz-card>
