<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }" *ngIf="showSearch">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="plant">工厂</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.plant" name="plant" nzSize="small" placeholder="工厂" id="no" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="workshop">车间</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.workshop" name="workshop" nzSize="small" placeholder="车间" id="na" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="dock">Dock编号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.dock" name="dock" nzSize="small" placeholder="Dock编号" id="na" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col>
        <button *ngFor="let i of actions;" nz-button value="{{ i.action_name }}" type="click" [nzLoading]="loading"
          (click)="toolBarOnClick(i)">
          {{ i.action_name_cn }}
        </button>
      </div>
    </div>
  </form>
  <st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)" [page]="pages">
  </st>
</nz-card>
