<div class="modal-header">
  <div class="modal-title">
    {{ title }}-工作日窗口时间模式
  </div>
</div>
<form #f="ngForm" nz-form (ngSubmit)="save()">
  <div>
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading" [nzType]="'primary'">
      保存
    </button>
  </div>
  <nz-form-item class="mb-sm">
    <nz-form-label nzSpan="2">工厂*</nz-form-label>
    <nz-form-control nzSpan="5">
      <nz-select [(ngModel)]="record.plant" [nzSize]="size" name="plant" required [nzAllowClear]="false"
        (ngModelChange)="plantChange($event)" [nzDisabled]="!record.add">
        <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label nzSpan="2">车间*</nz-form-label>
    <nz-form-control nzErrorTip="请选择车间" nzSpan="5">
      <nz-select [(ngModel)]="record.workshop" [nzSize]="size" name="workshop" id="workshop" nzShowSearch="true"
        nzAllowClear="false" (ngModelChange)="workshopChange($event)" required [nzDisabled]="!record.add">
        <nz-option *ngFor="let option of sub_workshops" [nzLabel]="option.text" [nzValue]="option.value"> </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="2">供应商</nz-form-label>
    <nz-form-control [nzSpan]="5" nzErrorTip="请选择窗口时间模式">
      <nz-select [(ngModel)]="record.supplier" [nzSize]="size" name="supplier" id="supplier" [nzPlaceHolder]="'请选择'"
        required nzShowSearch="true" [nzLoading]="loading" [nzDisabled]="!record.add"
        (ngModelChange)="supplierChange($event)">
        <nz-option *ngFor="let option of sub_supplier_print.data" [nzLabel]="option.itemText"
          [nzValue]="option.itemValue">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label [nzSpan]="2">卸货区域</nz-form-label>
    <nz-form-control [nzSpan]="5">
      <nz-select [(ngModel)]="record.dock" [nzSize]="size" name="dock" id="dock" [nzPlaceHolder]="'请选择'" required
        nzShowSearch="true" [nzLoading]="loading" [nzDisabled]="!record.add">
        <nz-option *ngFor="let option of sub_dock.data" [nzLabel]="option.ItemText" [nzValue]="option.ItemValue">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="2">线路配置代码</nz-form-label>
    <nz-form-control [nzSpan]="5">
      <nz-select [(ngModel)]="record.route" [nzSize]="size" name="route" id="route" [nzPlaceHolder]="'请选择'" required
        nzShowSearch="true" [nzLoading]="loading" [nzDisabled]="!record.add">
        <nz-option *ngFor="let option of sub_route.data" [nzLabel]="option.ItemText" [nzValue]="option.ItemValue">
        </nz-option>
      </nz-select>
    </nz-form-control>

    <nz-form-label nzSpan="2">拉动类型*</nz-form-label>
    <nz-form-control nzSpan="5">
      <nz-select [(ngModel)]="record.part_type" [nzSize]="size" name="part_type" id="part_type" [nzShowSearch]="true"
        [nzDisabled]="!record.add" required>
        <nz-option *ngFor="let i of sub_part_type.data;" [nzLabel]="i.text" [nzValue]="i.val">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm">
    <nz-form-label [nzSpan]="2">料架编号</nz-form-label>
    <nz-form-control [nzSpan]="5" *ngIf="record.part_type===3">
      <nz-select [(ngModel)]="record.rack" [nzSize]="size" name="rack" id="rack" [nzPlaceHolder]="'请选择'" required
        nzShowSearch="true" [nzLoading]="loading" (nzOpenChange)="getListItems($event,'rack')"
        [nzDisabled]="!record.add">
        <nz-option *ngFor="let option of sub_rack.data" [nzLabel]="option.text" [nzValue]="option.val">
        </nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-label [nzSpan]="2">打印机名称</nz-form-label>
    <nz-form-control [nzSpan]="5" nzErrorTip="请选择打印机名称">
      <nz-select [(ngModel)]="record.printer_name" [nzSize]="size" name="printer" id="printer" [nzPlaceHolder]="'请选择'"
        required nzShowSearch="true" [nzLoading]="loading" (nzOpenChange)="getListItems($event,'printer_name')">
        <nz-option *ngFor="let option of sub_printer_name.data" [nzLabel]="option.itemText"
          [nzValue]="option.itemValue">
        </nz-option>
      </nz-select>
    </nz-form-control>

  </nz-form-item>
</form>
