<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">事件详述</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请输入应用程序名称">
            <input nz-input [(ngModel)]="q.event_detail" name="event_detail" id="event_detail" [nzSize]="size"
              placeholder="请输入" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">事件类型</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.event_type" [nzSize]="size" name="event_type" id="event_type"
              [nzPlaceHolder]="'请选择'" (nzOpenChange)="getCodeDetails($event,'event_type')" [nzShowSearch]="true"
              nzAllowClear>
              <nz-option *ngFor="let i of sub_event_type.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8"> 事件级别</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.event_level" [nzSize]="size" name="event_level" id="event_level"
              [nzPlaceHolder]="'请选择'" (nzOpenChange)="getCodeDetails($event,'event_level')" [nzShowSearch]="true"
              nzAllowClear>
              <nz-option *ngFor="let i of sub_event_level.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8">事件状态</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.event_state" [nzSize]="size" name="event_state" id="event_state"
              [nzPlaceHolder]="'请选择'" (nzOpenChange)="getCodeDetails($event,'event_state')" [nzShowSearch]="true"
              nzAllowClear>
              <nz-option *ngFor="let i of sub_event_state.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="4">记录时间</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-range-picker [(ngModel)]="q.event_time" name="event_time" id="event_time" nzAllowClear [nzSize]="size"
              [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm">
            </nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="search-buttons">
      <button *ngFor="let i of dataAction;" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [data]="data" [loading]="loading" (change)="stChange($event)"
      [page]="pages" [scroll]="{x: '1500px'}">
    </st>
  </ng-container>
</nz-card>
