<div class="modal-header">
  <div class="modal-title">编辑车间</div>
</div>
<form nz-form #f="ngForm" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="plant">工厂</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="record.plant" name="plant" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workshop" nzRequired>车间</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="record.workshop" id="workshop" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workshop_name" nzRequired>车间或库区名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="record.workshop_name" id="workshop_name" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workshop_type" nzRequired>车间或库区类型</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="record.workshop_type" id="workshop_type" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workschedule_type" nzRequired>车间时间调整类型</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="record.workschedule_type" id="workschedule_type" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workshop_due" nzRequired>业务类型</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input [(ngModel)]="record.workshop_due" id="workshop_due" required />
    </nz-form-control>
  </nz-form-item>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="http.loading"
      nzType="primary">保存</button>
  </div>
</form>
