<page-header></page-header>
<nz-card nzBordered="false">
  <form nz-form [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" *ngIf="expandForm">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="plant">工厂</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择工厂">
            <nz-select [(ngModel)]="q.plant" [nzSize]="size" name="plant" id="plant"
              (ngModelChange)="plantChange($event)">
              <nz-option *ngFor="let option of pre_lists" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" ngFor="wk">车间</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.workshop" [nzSize]="size" name="wk" id="wk" [nzPlaceHolder]="'请选择'"
              nzMode="multiple" nzShowSearch="true" nzAllowClear [nzMaxTagCount]="1">
              <nz-option *ngFor="let option of sub_workshop" [nzLabel]="option.text" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" ngFor="supplier">供应商</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.supplier" [nzSize]="size" [nzMaxTagCount]="1" name="supplier" id="supplier"
              [nzPlaceHolder]="'请选择'" (nzOpenChange)="getListItems($event, 'supplier')" nzMode="multiple"
              nzShowSearch="true" nzAllowClear [nzLoading]="loading">
              <nz-option *ngFor="let o of sub_supplier.data" [nzLabel]="o.itemText" [nzValue]="o.itemValue">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="rc">物料单号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input [(ngModel)]="q.runsheet_code" [nzSize]="size" name="rc" id="rc" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="16">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="4" nzFor="pbt">发布时间</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-range-picker [(ngModel)]="q.publish_time" name="pbt" id="pbt" nzAllowClear [nzSize]="size"
              [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="pno">零件号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input maxlength="8" [(ngModel)]="q.part_no" name="pno" id="pno" [nzSize]="size" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="16">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="4" nzFor="rct">接收时间</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-range-picker [(ngModel)]="q.receive_time" name="rct" id="rct" nzAllowClear [nzSize]="size"
              [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm">
            </nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="rack">料架</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.rack" [nzSize]="size" name="rack" id="rack" [nzPlaceHolder]="'请选择'"
              (nzOpenChange)="getListItems($event, 'rack')" [nzShowSearch]="true" nzAllowClear>
              <nz-option *ngFor="let o of sub_rack.data" [nzLabel]="o.text" [nzValue]="o.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" ngFor="dock">Dock</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.dock" [nzSize]="size" name="dock" id="dock" [nzPlaceHolder]="'请选择'"
              (nzOpenChange)="getListItems($event, 'dock')" nzMode="multiple" nzShowSearch="true" nzAllowClear
              [nzLoading]="loading">
              <nz-option *ngFor="let option of sub_dock.data" [nzLabel]="option.ItemText" [nzValue]="option.ItemValue">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="sheet_process_status">任务单状态</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.sheet_process_status" [nzSize]="size" name="sheet_process_status"
              id="sheet_process_status" (nzOpenChange)="getCodeDetails($event,'wm_SheetProcessStatus')"
              [nzPlaceHolder]="'请选择'" [nzShowSearch]="true" nzAllowClear>
              <nz-option *ngFor="let i of sub_wm_SheetProcessStatus.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="sta">物料单状态</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.sheet_status" [nzSize]="size" name="sta" id="sta" [nzPlaceHolder]="'请选择'"
              (nzOpenChange)="getCodeDetails($event,'dd_plansheet_status')" [nzShowSearch]="true" nzAllowClear>
              <nz-option *ngFor="let i of sub_dd_plansheet_status.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="psta">打印状态</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select [(ngModel)]="q.print_status" [nzSize]="size" name="psta" id="psta" [nzPlaceHolder]="'请选择'"
              (nzOpenChange)="getCodeDetails($event,'jis_runsheet_PrintStatus')" [nzShowSearch]="true" nzAllowClear>
              <nz-option *ngFor="let i of sub_jis_runsheet_PrintStatus.data;" [nzLabel]="i.text" [nzValue]="i.val">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="search-buttons">
      <button *ngFor="let i of actions;" id="btn{{i.action_name}}" nz-button type="click" (click)="toolBarOnClick(i)">
        {{ i.action_name_cn }}
      </button>
    </div>
  </form>
  <ng-container>
    <st #st [columns]="columns" [size]="size" [scroll]="{ x: '3500px'}" virtualItemSize="q.ps" [loading]="loading"
      (change)="stChange($event)" [page]="pages" [data]="data">
    </st>
  </ng-container>
</nz-card>
